@using Abp.Authorization.Users
@using MAPPhoneBook
@using MAPPhoneBook.Web.Startup
@using MAPPhoneBook.PhoneBooks.Dtos
@model Abp.Application.Services.Dto.PagedResultDto<MAPPhoneBook.PhoneBooks.Dtos.PersonListDto>
@{
    ViewBag.CurrentPageName = PageNames.Persons; // The menu item will be active for this page.
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Persons/Index.js" asp-append-version="true"></script>
    </environment>

}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("联系人")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("刷新")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("姓名")</th>
                            <th>@L("邮箱地址")</th>
                            <th>@L("地址")</th>
                            <th>@L("创建时间")</th>
                            <th>@L("操作")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in Model.Items)
                        {
                            <tr>
                                <td>@person.Name</td>
                                <td>@person.EmailAddress</td>
                                <td>@person.Address</td>
                                <td>@person.CreationTime</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-person" data-person-id="@person.Id" data-toggle="modal" data-target="#PersonCreateModal"><i class="material-icons">edit</i>@L("修改")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-person" data-person-id="@person.Id" data-person-name="@person.Name"><i class="material-icons">delete_sweep</i>@L("删除")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#PersonCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PersonCreateModal" tabindex="-1" role="dialog" aria-labelledby="PersonCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("联系人")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="personCreateForm" role="form" novalidate class="form-validation">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-user-details">
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" type="text" name="Name" required maxlength="@MAPPhoneBookConsts.MaxNameLength" minlength="2">
                                            <input type="hidden" name="Id">
                                            <label class="form-label">@L("姓名")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" type="text" name="EmailAddress" required maxlength="@MAPPhoneBookConsts.MaxEmailLength" minlength="2">
                                            <label class="form-label">@L("邮箱地址")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" type="text" name="Address" required maxlength="@MAPPhoneBookConsts.MaxAddressLength" minlength="2">
                                            <label class="form-label">@L("地址")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("取消")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("保存")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
